@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model IEnumerable<WHITELABEL.Data.Models.TBL_TAX_MASTERS>
@{
    ViewBag.Title = "IndexGrid";
    //Layout = "~/Areas/PowerAdmin/Views/Shared/_PowerAdminLayout.cshtml";
    Layout = null;
}



@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.TAX_NAME).Titled("Tax Name").Filterable(true).Sortable(true);
            columns.Add(model => model.TAX_DESCRIPTION).Titled("Description").Filterable(true).Sortable(true);
            columns.Add(model => model.TAX_MODE).Titled("Tax Mode").Filterable(true).Sortable(true);
            columns.Add(model => model.TAX_VALUE).Titled("Tax Value").Filterable(true).Sortable(true);
            columns.Add(model => model.MEM_ID).Encoded(false).Filterable(false).Sortable(false).Titled("Action")
                //.RenderedAs(model => "<div style='text-align:center'><a href='" + @Url.Action("CreateMember", "PowerAdminMember", new { area = "PowerAdmin", memid = Encrypt.EncryptMe(model.SLN.ToString()) }) + "' style='margin-right:10px' title='Edit'><i class='fa fa-edit'></i></a></div>");
                .RenderedAs(model => "<div style='text-align:center'><a href='#' data-toggle='modal' data-target='.transd' id='transactionvalueid' onclick='GetTAXMasterSetting(" + model.SLN + ");' style='margin-right:10px' title='Edit'><i class='fa fa-edit'></i></a></div>");
            columns.Add(model => (model.TAX_STATUS == 1 ? "Active" : "Deactive")).Titled("Status").Css("<style>.table - hover tbody tr: hover {background - color:red;}</style> ").Sortable(false);
        })
        .Empty("No data found")
        .Id("my-ajax-grid")
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 5;
            pager.RowsPerPage = 5;
        })
    .Filterable()
    .Sortable()
)
