
@{
    ViewBag.Title = "Error";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div style="text-align:center;">
    <div>
        <img src="~/images/woops.png" />
    </div>
    <div>
        <button type="button" value="Back" onclick="window.history.back()" class="btn btn-danger">Back</button>
    </div>
</div>

