@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model IGrid<WHITELABEL.Data.Models.TBL_ACCOUNTS>
@{
    ViewBag.Title = "CompanyAccountStatement";
    //Layout = "~/Areas/Super/Views/Shared/_LayoutSuper.cshtml";
    Layout = "~/Areas/Super/Views/Shared/_LayoutSuper.cshtml";
}

<div class="form-horizontal padding-top-20">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row example-row">
                        @Html.AjaxGrid(Url.Action("IndexGrid", "SuperAccountDetails", new { area = "Super" }))
                    </div><!--.row-->
                </div><!--.panel-body-->
                <div class="panel-footer text-right">
                    <a href="@(Url.Action("ExportIndex","SuperAccountDetails",new { area="Super"}) + ViewContext.HttpContext.Request.QueryString)" class="btn btn-info btn-xs"><span class="ion-forward"></span>Export</a>
                </div>
            </div><!--.panel-->
        </div><!--.col-md-12-->
    </div>
</div>


