
@{
    ViewBag.Title = "NotAuthorized";
    //Layout = "~/Areas/PowerAdmin/Views/Shared/_PowerAdminLayout.cshtml";
    Layout = "~/Areas/PowerAdmin/Views/Shared/_PowerAdminNewLayout.cshtml";
}

<h2>NotAuthorized</h2>

