
@{
    ViewBag.Title = "Exception";
    Layout = null;
    ////Layout = "~/Areas/PowerAdmin/Views/Shared/_PowerAdminLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div style="text-align:center;">
    <div>
    <img src="~/images/woops.png" />
    </div>
    <div>
        <button type="button" value="Back" onclick="window.history.back()" class="btn btn-danger">Back</button>
        </div>
    </div>

