@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model IEnumerable<WHITELABEL.Data.Models.TBL_BALANCE_TRANSFER_LOGS>
@{
    ViewBag.Title = "MercantRequisitionGrid";
    Layout = null;
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@(Html
                            .Grid(Model)
                            .Build(columns =>
                            {
                                columns.Add(model => model.Serial_No).Titled("Trans Id");
                                //columns.Add(model => model.ToUser).Titled("To User");
                                columns.Add(model => model.FromUser).Titled("From Member");
                                columns.Add(model => model.REQUEST_DATE).Titled("Req Date").Formatted("{0:yyyy-MM-dd}");
                                columns.Add(model => model.REQUEST_TIME).Titled("Req Time").Formatted("{0:T}");
                                columns.Add(model => model.AMOUNT).Titled("Amount");
                                columns.Add(model => model.PAYMENT_METHOD).Titled("Pay Mode");
                                columns.Add(model => model.BANK_ACCOUNT).Titled("Bank account");
                                columns.Add(model => model.TRANSACTION_DETAILS).Titled("Txn Details");
                                columns.Add(model => model.STATUS).Titled("STATUS");
                                columns.Add(model => model.APPROVAL_DATE).Titled("Approval/Decline Date").Formatted("{0:yyyy-MM-dd}");
                                columns.Add(model => model.APPROVED_BY).Titled("Approval/Decline By");
                            })
                            .Css("css-classes")
                                        .AppendCss("table table-striped")
                            .RowCss(model => model.STATUS == "Decline" ? "danger" : model.STATUS == "Pending" ? "info" : "")
                            .Empty("No data found")
                            .Id("my-ajax-grid")
.Pageable(pager =>
{
    pager.PagesToDisplay = 10;
    pager.RowsPerPage = 10;
})
.Filterable()
.Sortable()
)
<table class="divFooterTotalComm" style="width:100%">
    <tr>
        <td style="width:25%;">Total Amount:- <b>@Model.Sum(z => z.AMOUNT)</b></td>
    </tr>
</table>
