@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model WHITELABEL.Data.Models.TBL_ACCOUNTS
@{
    ViewBag.Title = "Display Account";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="form-horizontal padding-top-20">
    <div class="row">
        <div class="col-md-12">
            <div class=" card">
                <div class="card-body">
                    <div class="panel-body">
                        <div class="panel-heading text-right">
                            <div class="card-title row" style="text-align:right;">
                                <a href="@Url.Action("Index", "MemberDebitCreditRequest", new { area = "Admin" })" class="btn btn-info btn-xs text-color-white"><span class="ion-plus"></span> New Requisition</a>
                                <div class="clearfix"></div>
                            </div>
                        </div><!--.panel-heading-->
                        <div class="row example-row">
                            <div class="col-md-12 row" style="margin-bottom:10px;">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Date From</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="md-form">
                                                    @Html.EditorFor(model => model.FROM_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control date", id = "txtFromDate", @onkeydown = "return false;", @placeholder = "yyyy-MM-dd" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Date From</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="md-form">
                                                    @Html.EditorFor(model => model.TO_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control date", id = "txtToDate", @onkeydown = "return false;", @placeholder = "yyyy-MM-dd" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="inputer">
                                        <div class="md-form">
                                            <a href="#" class="btn btn-primary" id="btnSearchDAteWise">Search Date Wise</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">@Html.AjaxGrid(Url.Action("indexgrid", "MemberDebitCreditRequest", new { area = "Admin" }))</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            $('#txtFromDate').datepicker({
                format: "yyyy-MM-dd",
                language: "es",
                autoclose: true,
                todayHighlight: true,
                changeMonth: true,
                changeYear: true
            });
        });
        $(function () {
            $('#txtToDate').datepicker({
                format: "yyyy-MM-dd",
                language: "es",
                autoclose: true,
                todayHighlight: true,
                changeMonth: true,
                changeYear: true
            });
        });

        $("#btnSearchDAteWise").on("click", function () {
            var MerId = $('#TransactionStatus').val();
            //var MerchantVal = $('#ddlMemberRDSBookingList').val();
            var Date_From = $('#txtFromDate').val();
            var Date_TO = $('#txtToDate').val();
            $('.mvc-grid').mvcgrid({
                query: 'DateFrom=' + Date_From + '&Date_To=' + Date_TO,
                //query: 'DateFrom=' + Date_From + '&Date_To=' + Date_TO,
                reload: true,
                reloadStarted: function () {
                    $(".divFooterTotalComm").remove();
                },
            });
        });

</script>